@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

.mainSection {
  display: flex;
  justify-content: center;
  height: 50px;
  /* background-color: blue; */
}

.navSection {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-size: 24px;
  font-style: normal;
  /* padding: 10px; */
}
