.mainDiv {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 590px;
  padding: 60px;
  background: #ebe7e7;
  border-radius: 4px;
}
/* .error {
  color: red;
} */

.signupLink {
  display: flex;
  align-self: center;
  color: darkblue;
  font-style: italic;
}
